html {
  font-family: Merriweather, serif;
}

td {
  border: 1px solid #ccc;
  height: 10em;
}

th {
  border: 1px solid #ccc;
}

.box {
  border: 1px solid #333;
  border-radius: 8px;
}

.vost {
  background-color: #f2f2f2;
  color: #666;
}

.rem {
  border: 1px solid #991919;
  background-color: #f2bcbc;
  color: #b92828;
}

.det {
  border: 1px solid #38448e;
  background-color: #d2d6f0;
  color: #1d38da;
}

.gr {
  border: 1px solid #51603f;
  background-color: #d1e0bf;
  color: #6b7e54;
}
